.header {
  border-bottom: 1px solid #ececec;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.nav-menu {
  display: flex;
  flex-wrap: wrap;
  color: $secondary-color;
}
.nav__item {
  position: relative;
  margin-right: 50px;
  align-items: center;
  padding: 32px 0;
  color: $secondary-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}

.nav__item:last-child {
  margin-right: 0;
}
.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  opacity: 1;
  background: $button-color;
  border-radius: 2px;
}
/*Контакты*/
.nav-contacts__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-color;
  display: flex;
  align-items: center;
}
.nav-contacts {
  margin-left: auto;
  margin-right: 50px;
}

.nav-contacts__icon {
  margin: 10px;
  fill: $primary-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .link:focus &,
  .link:hover & {
    fill: $button-color;
  }
}
