.menu:hover .icon-menu,
.menu:focus .icon-menu {
  fill: $button-color;
}
.icon-menu {
  display: block;
  width: 18px;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-modal {
  z-index: 2;
  position: fixed;
  width: 100%;
  max-width: 767px;
  height: 100vh;
  background-color: $white-color;
  left: 0px;
  top: 0px;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-y: scroll;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.header-modal__nav {
  list-style: none;
  margin-bottom: 302px;
}
.header-modal__list:not(:first-child) {
  margin-top: 32px;
}
.header-modal__list {
  text-decoration: none;
}
.header-modal__links {
  /*text*/
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  color: $secondary-color;
  &:hover,
  &:focus {
    color: $button-color;
  }
}

.header-modal__phone-link {
  display: block;
  text-decoration: none;
  width: 100%;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.175;
  color: $button-color;
}

.header-modal__address {
  margin-top: auto;
}

.header-modal__address-link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  margin-top: 32px;
  line-height: 1.17;
  color: $primary-color;
}

.header-modal__social {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 64px;
  margin-left: -10px;
}

.header-modal__social-list {
  padding: 0 10px;
  text-decoration: none;

  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.header-modal__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  margin-top: 64px;
  color: $button-color;
}

.close-modal {
  position: absolute;
  right: 15px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: $white-color;
  border: 0;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.icon-close-modal {
  fill: $secondary-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:visited {
    fill: $secondary-color;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: $button-color;
  }
}
