.section {
  padding: 94px 0;
}

.section-features__list {
  list-style: none;
  display: flex;
}

.section-features__item {
  display: block;
  width: 270px;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.section-features__title {
  margin-bottom: 10px;
  margin-top: 30px;
  color: $secondary-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-color;
}

.section-features__icon {
  width: 70px;
  height: 70px;
}
.feature-grid {
  width: 270px;
  height: 120px;
  background: $button-background-color;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
