$primary-color: #757575;
$secondary-color: #212121;
$button-color: #2196f3;
$white-color: #ffffff;
$background-color: #2f303a;
$sec-background-color: #f5f4fa;
$button-background-color: #f5f4fa;
$border-color: #eeeeee;
$icon-color: #afb1b8;
